.btn-font{
    font-size: 28px;
}

.custom-sidebar {
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #ddd; /* Light gray border for contour */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside the sidebar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}

.custom-sidebar h4,
.custom-sidebar p {
    margin: 0;
}

/* Navbar style for guests (not authenticated) */
.navbar.navbar-guest {
    padding-top: 3rem !important; /* Increase padding for larger navbar */
    padding-bottom: 3rem !important; /* Increase padding for larger navbar */
}

/* You can also adjust font sizes or other styles here */
.navbar-guest .navbar-brand h1 {
    font-size: 2.5rem; /* Larger font size for guest view */
}

/* Style for DataTable borders */
#history-table {
    border-collapse: collapse; /* Ensure borders collapse into a single border */
    width: 100%; /* Make sure the table width is 100% */
}

/* Style for table headers */
#history-table thead th {
    border: 1px solid #dee2e6;
    font-weight: bold; /* Make header text bold */
}

/* Style for table cells */
#history-table tbody td {
    border: 1px solid #dee2e6;
}

/* Style for table rows */
#history-table tr {
    border-bottom: 1px solid #dee2e6;
}

/* Highlight the row on hover */
#history-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Add a border around the whole table */
#history-table {
    border: 1px solid #000;
}

.margin-left{
    margin-left: 0.5rem;
}

#hoverBox{
    position: absolute;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #45b0be;
    transform: translateY(-2.25rem);
    color: white;
}

.modalbg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-auto-ended{
    border: 1px solid #ababab;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-auto-ended>h2{
    margin-bottom: 2rem;
}

.modal-auto-ended>.buttons{
    margin-top: 2rem;
}

.buttons{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

body.no-scroll{
    overflow: hidden;
}