.btn-font{
    font-size: 28px;
}

.custom-sidebar {
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #ddd; /* Light gray border for contour */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside the sidebar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}

.custom-sidebar h4,
.custom-sidebar p {
    margin: 0;
}

/* Navbar style for guests (not authenticated) */
.navbar.navbar-guest {
    padding-top: 3rem !important; /* Increase padding for larger navbar */
    padding-bottom: 3rem !important; /* Increase padding for larger navbar */
}

/* You can also adjust font sizes or other styles here */
.navbar-guest .navbar-brand h1 {
    font-size: 2.5rem; /* Larger font size for guest view */
}
