{% extends "admin/base.html" %}
{% load static i18n %}

{% block content %}
<div class="content d-flex flex-column align-items-center">
      <!-- Card for Total Number of Shifters -->
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card card-small">
          <div class="row g-0 d-flex align-items-center">
            <div class="col-md-4 d-flex justify-content-center">
              <i class="fas fa-users text-info" style="font-size: 4em;"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title text-center font-weight-bold">Total number of shifters ever</h4>
                <p class="card-text text-center" style="font-size: 2em;">{{ users_with_shifts }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card for Users on Site -->
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card card-small">
          <div class="card-body">
            <h4 class="card-title text-center font-weight-bold">Users on site:</h4>
            </br>
            <div class="user-list">
              {% for user in users_recent_shifts %}
              <div class="user-item">
                <span class="text-muted">-</span> {{ user.username }}
              </div>
              {% empty %}
              <div class="text-center text-muted">No users found</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
            </div>
          </div>
        </div>
        <!-- The last icon means the story is complete -->
        <div>
          <i class="fas fa-clock bg-gray"></i>
        </div>
      </div>      
           
</div>
{% endblock %}
